body {
	background-color: #FFFFCC;
	  
        padding-top: 60px;
        padding-bottom: 40px;
      
}

address {
	color: #880000;
	}
h1 {
	color: #6600CC;
}
h4 {
	color: #880000; 
}
